*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

body{
    background: linear-gradient(to bottom,#030303,#7a7777);
    color: white;
    border-radius: 30px;
}

/*Navbar*/
nav{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 3%;
    background: transparent;
}

.logo{
    font-size:20px;
    font-weight: normal;
    justify-content: flex-start;
    
}

.nav-links{
    list-style: none;
    display: flex;
    gap:25px;
    list-style: none;
    margin-left: auto;
}

.nav-links a{
    text-decoration: none;
    color: #ccc;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover{
    color: white;
}

.resume-btn{
    background: #1e5eff;
    padding: 8px 15px;
    boarder-radius: 15px;
    margin-top: 10px;
}

.menu-icon{
    display: flex;
    font-size: 22px;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    
}
    

/*hero*/
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    background: linear-gradient(to bottom,#857f7f,#493535);
    border-radius: 10px;
    position: relative;
   
}

/* Left Side Text*/
.hero-text{
    margin-top: 40px;
    width: 60%;
    margin-left: -20px;
}

.hero-text h1{
    font-size: 40px;
    margin-top: -60px;
}

.hero-text h3{
    font-size: 20px;
    color: #4da6ff;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: normal;
}

.hero-text p{
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.3;
    
}

/* Button*/
.btn{
    background: #2563eb;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 25px;
}

/* Right Side Image*/
.hero-image{
    width: 40%;
    display: flex;
    justify-content: center;
}

.hero-image img{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 4px solid #2563eb;
    box-shadow: 0 0 30px #1e5eff;
}

/*about*/
.about{
    padding: 50px 60px;
    background: radial-gradient(circle at top left, #29292d, #181818);
    color: white;
    border-radius: 10px;
    /*margin-top: -40px;*/
    margin-left: -20px;
}

.about h2{
    font-size: 32px;
    margin-bottom: 20px;
    position: relative;
    
}

.about h2::after{
    content: "";
    width: 60px;
    height: 3px;
    background: #2563eb;
    display: block;
    margin-top: 8px;
}

.about-text{
    max-width: 1300px;
    margin-bottom: 40px;
    color: #cbd5e1;
    line-height: 2;
}

.about-cards{
    display: flex;
    gap: 30px;
}

.card{
    background: rgba(255,255,255,0.05);
    padding: 25px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    transition: 0.3s;
    flex: 1;
    margin-bottom: -40px;
    
}
.card h3{
    font-size: 20px;     /* size control */
    font-weight: 400;    /* normal text */
    margin-bottom: 10px;
}

.card p{
    font-size: 15px;
    color: #cbd5e1;
    line-height: 1.2;
    line-height: 1.5;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow
    : 0 0 20px rgba(37,99,235,0.4);
}

.content-box{
    width: 80%;
    margin: 80px auto;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
    position: relative;
    color: white;
     box-shadow
    : 0 0 20px rgba(37,99,235,0.4);
}

/* Blue bottom glow*/
.about::after{
    content: "";
    position: absolute;
    bottom: -25px;
    left: 10%;
    width: 80%;
    height: 50px;
    background: radial-gradient(circle, rgba(37,99,235,0.7), transparent 70%);
    filter: blur(25px);
    z-index: -1;
}

.email{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #f8fbff;
    font-size: 16px;
}

.email i{
    background: #2563eb;
    color: white;
    padding: 6px;
    border-radius: 5px;
    font-size: 12px;
}

.contact-btn{
    background: #2563eb;
    color: white;
    padding: 12px 30px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s ease;
}

.contact-btn:hover{
    background: #1d4ed8;
    transform: translateY(-4px);
  
}

/*Footer*/
footer{
    text-align: center;
    padding: 20px;
    
}